.principal{
    background-color: #cccccc;
    padding: 30px;
}

.titulo-centralizado{
    text-align: center;
}

.titulo-principal{
    padding-left: 30px;
}

p{
    text-align: center;
}

em strong{
    color: #ff0000;
}

#mision{
    font-size: 20px;
}



.footer{
    text-align: right;
    padding-right: 30px;
}

.items{
    font-style: italic;
}

.diferenciales{
    background-color: #ffffff;
    padding: 30px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}
